<%= render 'shared/page_title', title: "All lands", title_content: "explore our world" %>

<section id="blog" class="p-5">
    <div class="container">
      <% @lands.each_slice(3) do |ls| %>
        <div class="row">
            <div class="col">
              <div class="card-columns">
                <% ls.each do |i| %>
                <div class="card">
                    <!--<img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">-->
                    <% if !i.images.empty? %>
                        <%= image_tag i.images.last.card.url, class: "card-img-top img-fluid" %>
                    <% end %>
                    <div class="card-block">
                        <%= link_to  i.project_name, land_path(i), class: "card-title" %>
                        <p class="card-text">
                            <%= i.title.capitalize.truncate(40, separator:' ') %>
                        </p>
                        <footer>
                          <small class="text-muted">Uploader: <%= i.user.name.capitalize %></small>
                        </footer>
                    </div>
                </div>
                  <div class="card p-3">
                    
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
</section>