<%= render 'shared/page_title', title: @land.project_name, title_content: @land.investor %>

<div class="row m-3">
    <div class="col-md-4">
        
        <% if !@land.images.empty? %>
            <%= image_tag @land.images.last.product.url %>
        <% end %>
    </div>
    
    <div class="col-md-8">
        <h2>Thông tin</h2>
        <p>Mô tả: <%= @land.description.capitalize %> </p>
        <p>Tên dự án: <%= @land.project_name %></p>
        <p>Chủ đầu tư: <%= @land.investor%></p>
        <p>Địa chỉ: <%= [@land.address,@land.ward,@land.district,@land.state_city].reject(&:blank?).join(', ') %></p>
        <p>Giá min: <%= number_with_delimiter(@land.min_price.to_i, :delimiter => ',')%></p>
        <% if @land.status != 'closed' %>
            <p>Giá hiện tại: <%= number_with_delimiter(@land.bid_price.to_i, :delimiter => ',')%></p>
            <%= form_for @land, {url: bid_path(@land), method: :post} do |f| %>
                <%= f.label :bid_price, "Ra giá: " %>
                <%= f.number_field :bid_price, {value: [(@land.bid_price.blank?? @land.min_price.to_i*1.04 : @land.bid_price.to_i*1.04).round], step: 1000000} %>
                <%= f.submit "Đấu giá", class: "btn btn-danger" %>
            <% end %>
        <% else %>
            <p>Đấu giá đã đóng: Giá đã bán: <%=@land.bid_price%></p>
        <% end %>
        <br>
        <% if !@land.max_price.blank? %>
        <p class="font-weight-bold d-inline-block">Giá mua ngay lập tức: <%= number_with_delimiter(@land.max_price.to_i, :delimiter => ',') %></p>
        <%= link_to "Mua ngay", root_path, class: "btn btn-success d-inline-block" %>
        <% end %>
        
        
    </div>
</div>

<div class="row">
    <% if !@land.images.empty? %>
        <% @land.images.each do |i| %>
            <%= image_tag i.url %>
        <% end %>
    <% end %>
</div>
